{% extends "base.html.twig" %}

{% block title %}Série {{ program.id }}{% endblock %}

{% block body %}

  <h1>{{ program.title }}</h1>
  <h2>Saison {{ season.number }}</h2>
  <h3>Épisode {{ episode.number }} : {{ episode.title}}</h3>
  <p>{{ episode.synopsis }}</p>

<a href="{{ path('program_season_show', { programId: program.id, seasonId: season.id }) }}">
    Retour à la liste des épisodes !

{% endblock %}